.form {
    max-width: 20em;
    margin: 2em auto;
}

.form__title {
    padding: 0.5em 1.5em;
    background-color: var(--clr-primary-400);
    color: var(--clr-light);
    font-size: 1rem;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    border: 2px solid var(--clr-pale-400);
}

.form__response-msg {
    font-size: 0.7rem;
    color: var(--clr-error);
}

.form__username,
.form__password {
    padding-block: 0.4em;
    padding-inline-start: 0.5em;
}

.form__login {
    max-width: fit-content;
    padding: 0.3em 1em;
    border: none;
    background-color: var(--clr-primary-400);
    color: var(--clr-light);
    cursor: pointer;
}

.form__login:hover {
    background-color: var(--clr-primary-300);
}

.form__login:active {
    background-color: var(--clr-primary-500);
}