/* #region RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.5em;
    border: 1px solid rgba(0, 0, 0, 1);
    text-align: left;
}
/* #endregion */


/* #region FONT-FACE */
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf'),
         url('/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.woff2');
}
/* #endregion */


/* #region GLOBAL STYLES */
:root {
    --clr-dark: rgba(35, 35, 35, 1);
    --clr-light: rgba(250, 250, 250, 1);
    --clr-primary-300: rgb(220, 60, 60);
    --clr-primary-400: rgba(220, 20, 60, 1);
    --clr-primary-500: rgb(220, 0, 60);
    --clr-error: rgba(255, 0, 0, 1);
    --clr-pale-400: rgba(187,187,187);
    --clr-pale-300: rgba(221,221,221);
}

body {
    min-height: 100%;
    background-color: var(--clr-light);
    font-family: 'Inter';
}

.dark-mode {
    background-color: var(--clr-dark);
}

.wrapper {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 1em;
}
/* #endregion */
